@import './variables';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background:$primary;
    
    &:hover{
        background:$primary-hover;
    }
}

nav li a{
    transition: $transition;
    
    &:hover{
        color:$primary;
    }
}

section.hero{
    background:$secondary;
}

.size{
    background:$secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color:$primary;
    transition: $transition;
    &:hover{
        background:$primary;
        border-color:$pure;
        color:$pure;

    }
}

.btn-primary{
    background:$primary;
    transition:$transition;
    color:white;
    
        &:hover{
            background:$primary-hover;
        }   
}

section.cart{
    background:$secondary;
}

.amount{
    color:$primary;
}